
body { margin:0; padding:0; overflow: hidden;}

.header_container {
  background:#eee;
  border:1px solid #666;
  height:60px; left:0;
  position:fixed;
  width:100%;
  top:0;
}

.header{
  margin:0 auto;
  width:100vw;
  text-align:center;
}

.container {
  margin:0 auto;
  overflow:hidden;
  padding:60px 0;
  width:100vw;
}
.content{

}

.footer_container {
  background:#eee;
  border:1px solid #666;
  bottom:0;
  height:60px;
  left:0;
  position:fixed;
  width:100vw;
}

.footer {
  margin:0 auto;
  width:100vw;
  padding: 5px;
  text-align:center;
}

.txt {
  font-size: 10px;
}

.alignleft {
  width: 50%;
	float: left;
  text-align: left;
}

.alignright {
  width: 50%;
	float: right;
  text-align: right;
  padding: 10px 15px 0  0;
}

.alignright .txt {
  width: 50%;
	float: right;
  text-align: right;
  padding: 3px;
}

.clear{
  clear: both;
}

ul.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul.list li {
  display: inline;
}
