.wapper {
  width: 200px;
  height: 200px;
  background-color: #fff;
  border: 1px solid #eaeaea;
  margin-bottom: 10px;
}

.txt{
  width: 238px;
  height: 200px;
  background-color: #fff;
  color: #000;
}

.h5{
  background-color: #EAEAEA;
  font-size: 14px;
  padding: 5px;
}
